RewriteEngine On

<Files "admin.php"> 
	AuthUserFile {œ”“‹ ƒŒ ‘¿…À¿}\.htpasswd
	AuthName "Authorized personnel only."
	AuthType Basic
	Require valid-user
</Files>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^admin/(.*)$ admin.php [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [QSA]

AddDefaultCharset UTF-8

