RewriteEngine On

<Files "admin.php"> 
	AuthUserFile e:\OpenServer\domains\anketa\.htpasswd
#	AuthUserFile d:\OpenServer\domains\anketa\.htpasswd
	AuthName "Authorized personnel only."
	AuthType Basic
	Require valid-user
</Files>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^administrator/(.*)$ admin.php [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [QSA]

AddDefaultCharset UTF-8